
Izett-et-al_field-data/discrete_calibration/discrete_o2_calibration_NEP_summer.txt
Izett-et-al_field-data/discrete_calibration/discrete_o2_calibration_NEP_winter.txt
Izett-et-al_field-data/Matlab_files/Izett-et-al_Arctic-Summer_historic.mat
Izett-et-al_field-data/Matlab_files/Izett-et-al_Arctic-Summer_profile.mat
Izett-et-al_field-data/Matlab_files/Izett-et-al_Arctic-Summer_underway.mat
Izett-et-al_field-data/Matlab_files/Izett-et-al_NEP-Summer_historic.mat
Izett-et-al_field-data/Matlab_files/Izett-et-al_NEP-Summer_profile.mat
Izett-et-al_field-data/NetCDF/Izett-et-al_NEP-Winter_underway.nc
Izett-et-al_field-data/NetCDF/Izett-et-al_NEP-Winter_profile.nc
Izett-et-al_field-data/NetCDF/Izett-et-al_NEP-Winter_historic.nc
Izett-et-al_field-data/NetCDF/Izett-et-al_NEP-Summer_underway.nc
Izett-et-al_field-data/NetCDF/Izett-et-al_NEP-Summer_profile.nc
Izett-et-al_field-data/NetCDF/Izett-et-al_NEP-Summer_historic.nc
Izett-et-al_field-data/NetCDF/Izett-et-al_Arctic-Summer_underway.nc
Izett-et-al_field-data/NetCDF/Izett-et-al_Arctic-Summer_profile.nc
Izett-et-al_field-data/NetCDF/Izett-et-al_Arctic-Summer_historic.nc
Izett-et-al_field-data/Matlab_files/Izett-et-al_NEP-Winter_underway.mat
Izett-et-al_field-data/Matlab_files/Izett-et-al_NEP-Winter_profile.mat
Izett-et-al_field-data/Matlab_files/Izett-et-al_NEP-Winter_historic.mat
Izett-et-al_field-data/Matlab_files/Izett-et-al_NEP-Summer_underway.mat
Izett-et-al_field-data/discrete_calibration/discrete_o2_calibration_Arctic_summer.txt
Izett-et-al_field-data/discrete_calibration/discrete_o2_calibration.mat
Izett-et-al_field-data/discrete_calibration/discrete_n2_calibration_NEP_summer.txt
Izett-et-al_field-data/discrete_calibration/discrete_n2_calibration_Arctic_summer.txt
Izett-et-al_field-data/discrete_calibration/discrete_n2_calibration.mat
Izett-et-al_field-data/discrete_calibration/discrete_dn2ar_deep_NEP_summer.txt
Izett-et-al_field-data/discrete_calibration/discrete_dn2ar_deep_Arctic_summer.txt
Izett-et-al_field-data/discrete_calibration/discrete_dn2ar_deep.mat
Izett-et-al_field-data/ASCII/Izett-et-al_NEP-Winter_underway.txt
Izett-et-al_field-data/ASCII/Izett-et-al_NEP-Winter_profile.txt
Izett-et-al_field-data/ASCII/Izett-et-al_NEP-Summer_underway.txt
Izett-et-al_field-data/ASCII/Izett-et-al_NEP-Summer_profile.txt
Izett-et-al_field-data/ASCII/Izett-et-al_Arctic-Summer_underway.txt
Izett-et-al_field-data/ASCII/Izett-et-al_Arctic-Summer_profile.txt
